
body{
    background-color:black;
}
.container{
    /* width: 1024px; */
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: auto;
}
.rightbox{
    background-color: #18191A;
    min-height: 400px;
    /* flex: 1.5; */
    width: 25%;
    margin-right: 50px;
    margin-top: 100px;
}
.leftbox{
   
    width: 100%;
    margin-right: 30px;
    margin-top: 80px;
}
.rbox{
    background-color: #18191A;
    height: 600px;
    /* flex: 1.5; */
    width: 100%;
    margin-right: 50px;
    margin-top: 100px;
}

.heading{
    background-color: #18191A;
    min-height: 80px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    color:white;
    padding-top: 17px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.subhead{
    margin-top: 20px;
}
.event h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1rem;
}

h2{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.event{
    border-radius: 10px;
    margin-top: auto;
    min-height: 200px;
    background-color:#18191A;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
    
   
}
.event iframe{
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 250px;
  
}
.game{
    margin-top: 50px ;
    border-radius: 10px;
    height: auto;
    background-color: #18191A;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
    text-align: center;
    color: White;
    
   
}
.game-size
{
    height: 100;
    width: 100;
}